{
    admin off
    auto_https off
}

:{$PORT:8080} {
    handle /api/* {
        reverse_proxy localhost:8000
    }
    handle /ws/* {
        reverse_proxy localhost:8000
    }
    handle /* {
        reverse_proxy localhost:3000
    }
}
